@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE và Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, và Opera */
}

.rdp-root {
  width: 100%;
  position: relative;
  padding: 0;
}

.rdp-nav {
  position: absolute;
  right: 0;
}

.rdp-month_grid {
  width: 100%;
  display: flex;
  flex-direction: column;
}

thead,
tr {
  width: 100%;
}

.rdp-weeks {
  width: 100%;
  gap: 3px;
  display: flex;
  flex-direction: column;
  columns: 7;

  /* Thêm media query để giảm khoảng cách khi chiều rộng nhỏ hơn md */
  @media (max-width: 768px) {
    /* Thay 768px bằng giá trị md bạn muốn */
    gap: 1.5px;
  }
}

.rdp-week {
  gap: 3px;
  display: flex;
  flex-direction: row;

  /* Thêm media query để giảm khoảng cách khi chiều rộng nhỏ hơn md */
  @media (max-width: 768px) {
    /* Thay 768px bằng giá trị md bạn muốn */
    gap: 1.5px;
  }
}

td {
  width: calc(100% / 7);
  display: block;
}

.test_1 {
  display: block;
}

.test_1 th {
  width: calc(100% / 7);
  display: inline-block;
}

.rdp-today-color {
  background-color: red;
}

.rdp-weekday {
  @media (max-width: 768px) {
    font-size: x-small;
  }
}
.poem-container {
  margin: 1em 0;
  padding: 1em;
  border-left: 4px solid #ddd;
}

.poem-line {
  margin: 0;
  line-height: 1.6;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
  margin-bottom: 24px;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 19px;
  border-radius: 16px;
  border: 1px solid black;
  font-weight: 700;
}
